.todo{
  background: #eeeeee;
  height: 100vh;
  padding-top: 100px;
}

.todo__container{
  padding: 10px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.todo__input{
  border: none;
  border-bottom: 1px solid #c0c0c0;
  outline: none;
  color: #000;
  font-size: 16px;
  background: transparent;
  display: inline-block;
  margin: 0 10px;
  width: 250px;
  padding: 10px;
}

.todo__input:focus{
  outline: none;
  border-bottom: 1px solid #888888;
}

.todo__button{
  border: none;
  box-shadow: none;
  background: rgb(7, 133, 133);
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  transition: .2s;
}

.todo__button:hover{
  background: rgb(6, 114, 114);
  cursor: pointer;
}
.todo__button:focus{
  outline: none;
}

.todoList li{
  display: flex;
  align-items: center;
  position: relative;
}

.todoList li p{
    width: 90%;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #705b69;
    list-style: none;
    margin: 10px 10px 10px 0;
}

.todoList li p:hover{
  background: #c53c38;
  cursor: pointer;
}

.todoList li button{
    width: 10%;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #d64d60;
    border: none;
    box-shadow: none;
}

.todoList li button:hover{
  background: #bb4050;
  cursor: pointer;
}